@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Esse site e com intuito de fortalecer o conhecimento em ASP.NET CORE MVC, ressaltando o conceito é a importancia de criar aplicações robustas com uma manutenção fácil e objetiva</p>
<hr />
<p>Redes Sociais</p>
<a href="https://www.linkedin.com/in/davi-rodrigues-dev/">LinkedIn</a>
<hr />
<a href="https://web.facebook.com/profile.php?id=100071225043114">Facebook</a>
<hr />
<a href="https://www.instagram.com/evdaviazevedoo_/">Instagram</a>
<hr />
<a href="https://mail.google.com/mail/u/0/#inbox">Gmail</a>
<hr />
<p>Desenvolvedor: Davi Rodrigues</p>